
.contenedor {
    height: 1000px;
    width: 50%;
    background-color: blue;
   position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.encabezado {
    height: 500px;
    width: 50%;
    background-color: rgb(255, 0, 0);
}
.seccion {
    
    height: 300px;
    width: 400px;
    background-color: brown; 
    
}
  
.section-2 {
    background-color: coral;
    height: 1000px;
    width: 50%;
    position: relative;
    top: -1000px; ;
    left: 50%;
    
}

.kitty {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    
}

.titulo-clay {
    border: solid plum;
    border-radius: 10px;
    background: pink;
    text-align: center;
}
